@import url("https://fonts.googleapis.com/css2?family=Rosario&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Pixelify+Sans:wght@400..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

:root {
  --maincolor: #691b16;
  --secondarycolor: #8b566d;
  /* tan: #FFFCF6 */
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
}

body {
  background-color: #fef9ef;
  font-family: "Zain", sans-serif;
}

nav {
  margin-right: 50px;
  font-family: "Zain", sans-serif;
  position: absolute;
  right: 0;
  padding: 30px;
}

nav a {
  text-decoration: none;
  color: var(--maincolor);
  font-size: max(1.5vw, 12px);
  padding: 10px;
  padding-right: 10px;
  transition: 0.5s ease;
}

nav a:hover {
  text-decoration: underline;
  font-size: max(1.8vw, 14px);
}

#introduction {
  color: var(--maincolor);
  padding-left: 3vw;
  padding-top: 3vw;
}

#aboutSection,
#projectsSection,
#blogSection,
#contactSection {
  color: var(--maincolor);
  padding-left: 3vw;
  padding-top: 1vw;
}

#introduction h1 {
  font-size: max(3.5vw, 35px);
  font-weight: 400;
  margin: 0;
  color: var(--maincolor);
}

#introduction h2 {
  color: var(--secondarycolor);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: max(2vw, 20px);
}

#introduction p,
#aboutSection p,
#projectsSection p,
#blogSection p,
#contactSection p {
  font-size: max(1.3vw, 16px);
}

#iconLinks img {
  width: 3%;
  min-width: 25px;
  padding: 20px;
}

#linkedinIcon,
#githubIcon,
#mailIcon {
  transition: width 0.5s ease, filter 0.5s ease;
}

#iconLinks img:hover {
  width: 4%;
}

#introduction hr,
#aboutSection hr,
#projectsSection hr,
#blogSection hr {
  width: 50%;
  height: 2px;
  background-color: var(--secondarycolor);
  border: none;
  margin: 20px 0;
  text-align: left;
}

#photos img {
  border-radius: 3%;
  border: #fffcf6 solid 5px;
  margin-top: 30px;
}

#devFestPhoto {
  width: 360px;
  position: absolute;
  top: 80px;
  right: 150px;
  transition: width 0.5s ease, filter 0.5s ease;
}

#vikProfilePhoto {
  width: 300px;
  position: absolute;
  top: 300px;
  right: 10px;
  transform: rotate(18deg);
  transition: width 0.5s ease, filter 0.5s ease;
}

#medalPhoto {
  width: 230px;
  position: absolute;
  top: 420px;
  right: 300px;
  transform: rotate(-16deg);
  transition: width 0.5s ease, filter 0.5s ease;
}

#devFestPhoto:hover {
  filter: drop-shadow(#60504f 10px 10px 10px);
  z-index: 100;
  width: 380px;
}

#vikProfilePhoto:hover {
  filter: drop-shadow(#60504f 10px 10px 10px);
  z-index: 100;
  width: 320px;
}

#medalPhoto:hover {
  filter: drop-shadow(#60504f 10px 10px 10px);
  z-index: 100;
  width: 250px;
}

#aboutSection h1,
#projectsSection h1,
#blogSection h1,
#contactSection h1 {
  font-size: max(2.5vw, 30px);
  font-weight: 400;
  margin: 0;
  color: var(--maincolor);
}

@media screen and (max-width: 1187px) {
  #devFestPhoto {
    width: 25%;
    position: absolute;
    top: 80px;
    right: 150px;
    transition: width 0.5s ease, filter 0.5s ease;
  }

  #vikProfilePhoto {
    width: 23%;
    position: absolute;
    top: 200px;
    right: 10px;
    /* transform: rotate(18deg); */
    transition: width 0.5s ease, filter 0.5s ease;
  }

  #medalPhoto {
    width: 21%;
    position: absolute;
    top: 300px;
    right: 200px;
    /* transform: rotate(-16deg); */
    transition: width 0.5s ease, filter 0.5s ease;
  }
}

@media screen and (max-width: 900px) {
  #devFestPhoto {
    display: none;
    width: 20%;
    position: absolute;
    top: 100px;
    right: 90px;
    transition: width 0.5s ease, filter 0.5s ease;
  }

  #vikProfilePhoto {
    display: none;
    width: 20%;
    position: absolute;
    top: 290px;
    right: 90px;
    transform: rotate(0deg);
    transition: width 0.5s ease, filter 0.5s ease;
  }

  #medalPhoto {
    display: none;
    width: 20%;
    position: absolute;
    top: 480px;
    right: 90px;
    transform: rotate(0deg);
    transition: width 0.5s ease, filter 0.5s ease;
  }

  #introduction hr,
  #aboutSection hr,
  #projectsSection hr,
  #blogSection hr {
    width: 90%;
    height: 2px;
    background-color: var(--secondarycolor);
    border: none;
    margin: 20px 0;
    text-align: left;
  }
}

@media screen and (max-width: 720px) {
  #devFestPhoto {
    display: none;
    transition: width 0.5s ease, filter 0.5s ease;
  }

  #vikProfilePhoto {
    display: none;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(0deg);
    transition: width 0.5s ease, filter 0.5s ease;
  }

  #medalPhoto {
    display: none;
    transition: width 0.5s ease, filter 0.5s ease;
  }

  nav {
    display: none;
  }

  #introduction,
  #aboutSection,
  #projectsSection,
  #blogSection,
  #contactSection {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
  }

  #introduction hr,
  #aboutSection hr,
  #projectsSection hr,
  #blogSection hr,
  #contactSection hr {
    width: 90%;
    height: 2px;
    background-color: var(--secondarycolor);
    border: none;
    margin: 20px auto;
  }
}
