@import url("https://fonts.googleapis.com/css2?family=Rosario&display=swap");

:root {
  --maincolor: #691b16;
  --secondarycolor: #8b566d;
  /* tan: #FFFCF6 */
}

body {
  background-color: #fef9ef;
  font-family: "Rosario", sans-serif;
}

nav {
  margin-right: 50px;
  font-family: "Rosario", sans-serif;
  position: absolute;
  right: 0;
  padding: 30px;
}

nav a {
  text-decoration: none;
  color: var(--maincolor);
  font-size: 20px;
  padding: 10px;
  padding-right: 10px;
  transition: 0.5s ease;
}

nav a:hover {
  text-decoration: underline;
  font-size: 25px;
}

#introduction {
  color: var(--maincolor);
  padding-left: 50px;
  padding-top: 50px;
}

h1 {
  font-size: 65px;
  font-weight: 400;
  margin: 0;
  color: var(--maincolor);
}

#introduction h2 {
  color: var(--secondarycolor);
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
}

#introduction p {
  font-size: 20px;
}

#iconLinks img {
  width: 40px;
  padding: 20px;
}

#linkedinIcon,
#githubIcon,
#mailIcon {
  transition: width 0.5s ease, filter 0.5s ease;
}

#iconLinks img:hover {
  width: 50px;
}

#introduction hr {
  width: 50%;
  height: 3px;
  background-color: var(--secondarycolor);
  border: none;
  margin: 20px 0;
  text-align: left;
}

#photos img {
  border-radius: 3%;
  border: #fffcf6 solid 5px;
  margin-top: 30px;
}

#devFestPhoto {
  width: 30%;
  position: absolute;
  top: 80px;
  right: 220px;
  transition: width 0.5s ease, filter 0.5s ease;
}

#vikProfilePhoto {
  width: 25%;
  position: absolute;
  top: 380px;
  right: 60px;
  transform: rotate(18deg);
  transition: width 0.5s ease, filter 0.5s ease;
}

#medalPhoto {
  width: 20%;
  position: absolute;
  top: 520px;
  right: 390px;
  transform: rotate(-16deg);
  transition: width 0.5s ease, filter 0.5s ease;
}

#devFestPhoto:hover {
  filter: drop-shadow(#60504f 10px 10px 10px);
  z-index: 100;
  width: 32%;
}

#vikProfilePhoto:hover {
  filter: drop-shadow(#60504f 10px 10px 10px);
  z-index: 100;
  width: 27%;
}

#medalPhoto:hover {
  filter: drop-shadow(#60504f 10px 10px 10px);
  z-index: 100;
  width: 22%;
}
